*,
*::before,
*::after {
  box-sizing: border-box; /* Ensure padding and borders are included in width/height */
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%; /* Ensure the html and body take up the full viewport height */
  width: 100%; /* Ensure the html and body take up the full viewport width */
  overflow-x: hidden; /* Prevent horizontal scrolling */
}

body {
  font-family: 'Inter', sans-serif;
  background-color: #cad9e4; /* Soft blue-gray background */
  color: #292a2d; /* Dark gray text */
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
  color: #292a2d; /* Dark gray for headings */
}